body
{
    background-color: #F2F2F2;
    font-family: 'Roboto';
    font-weight: 100;
    color: white;
}

.screen
{
    max-width: 690px;
    margin-left: auto;
    margin-right: auto;
    background-color: #C1CFD9;
    padding: 10px 20px;
    text-align: center;
}

.button:link,
.button:visited,
.button:hover,
.button:active
{
    color: white;
    background-color: #2E3641;
    text-decoration: none;
    padding: 10px 20px;
    width: 100px;
    display: inline-block;
}

.feedback
{
    background-color: #9EB2C0;
    font-size: 2.5em;
    padding: 15px 30px;
    display: inline-block;
    margin-top: 50px;
}

.clearfix
{
    clear: both;
}