body
{
    background-color: #F2F2F2;
    font-family: 'Roboto';
    font-weight: 100;
    color: white;
    font-size: 1.2em;
}

.screen
{
    max-width: 690px;
    margin-left: auto;
    margin-right: auto;
    background-color: #C1CFD9;
    padding-top: 10px;
    text-align: center;
}

.button:link,
.button:visited,
.button:hover,
.button:active
{
    color: white;
    background-color: #2E3641;
    text-decoration: none;
    padding: 10px 20px;
    width: 100px;
    display: inline-block;
    margin-bottom: 10px;
}

.feedback
{
    background-color: #9EB2C0;
    font-size: 2.5em;
    padding: 15px 30px;
    display: inline-block;
    margin-top: 50px;
}

.clearfix
{
    clear: both;
}

form
{
    padding-bottom: 20px;
}

input, textarea
{
    width: 320px;
    height: 30px;
    border: none;
    font-size: 0.8em;
    padding: 5px;
}

textarea
{
    height: 200px;
    max-width: 320px;
    max-height: 200px;
}

#button_send
{
    background-color: #C1CFD9;
    border: none;
    color: white;
    font-size: 0.7em;
    background-image: url("http://cdn.flaticon.com/png/256/19973.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: 50px;
    text-indent: -99999px;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    transition: background-color .5s;
}

#button_send:hover
{
    background-color: white;
}

.date_header
{
    font-size: 0.8em;
    margin-top: -15px;
}

.post
{
    border-top: 20px solid #F2F2F2;
    padding-bottom: 5px;
}

.post p
{
    margin-bottom: 30px;
    margin-left: 30px;
    margin-right: 30px;
    text-align: left;
}