body
{
    font-family: 'Calibri';
    font-weight: lighter;
    background-color: #bdc3c7;
    color: white;
}

.screen
{
    max-width: 400px;
    margin-left: auto;
    margin-right: auto;
}

label
{
    font-size: 1.1em;
}

textarea
{
    border: none;
    background-color: white;
    width: 400px;
    height: 150px;
    padding: 10px;
    max-width: 380px;
}

.center
{
    margin-left: auto;
    margin-right: auto;
    display: block;
    width: 400px;
}

#post_btn
{
    border: none;
    background-color: #16a085;
    color: white;
    width: 80px;
    height: 35px;
    text-align: center;
    font-family: Tangerine;
    font-size: 1.5em;
}

.feedback
{
    width: 400px;
    text-align: center;
    background-color: #e74c3c;
    -webkit-animation: feedbackIn 1s
}

@-webkit-keyframes feedbackIn
{
    0%		{opacity: 0; margin-bottom: -56px;}

    100%	{opacity: 1; margin-bottom: 0px;}
}

.feedback p
{
    padding-top: 10px;
    padding-bottom: 10px;
}